<div class="container-fluid">
    <div class="row m-1">
        <textarea class="col" id="chat-log" rows="20" readonly></textarea>
    </div>
    <div class="row m-1">
        <input class="col-10" id="chat-message-input" type="text" placeholder="Message">
        <input class="col-2" id="chat-message-submit" type="button" value="Send">
    </div>
    <div class="row m-1">
        <input class="col-3" id="room-input" type="text" placeholder="Room name">
        <input class="col-2" id="room-connect" type="button" value="Connect">
        <input class="col-2" id="room-disconnect" type="button" value="Disconnect">
        <input class="col-2" id="room-ready" type="button" value="Toggle Ready">
        <input class="col-1 ms-2" id="room-move-up" type="button" value="↑">
        <input class="col-1" id="room-move-down" type="button" value="↓">
    </div>
    <div class="row m-1">
        <textarea class="col" id="ping-log" rows="20" readonly></textarea>
        <div class="bg-dark text-light col" id="player1-log"></div>
        <div class="bg-dark text-light col" id="player2-log"></div>
    </div>
</div>

{% include 'eoc.html' %}