<div class="container-fluid">
    <textarea id="chat-log" cols="80" rows="20" readonly></textarea>
    <div>
        <input id="chat-message-input" type="text" size="80">
        <input id="chat-message-submit" type="button" value="Send">
    </div>
    <div>
        <input id="room-input" type="text" size="20" placeholder="Room name">
        <input id="room-connect" type="button" value="Connect">
        <input id="room-disconnect" type="button" value="Disconnect">
        <input id="room-ready" type="button" value="Toggle Ready">
    </div>
    <div>
        <textarea id="ping-log" cols="30" rows="20" readonly></textarea>
    </div>
</div>

{% include 'eoc.html' %}