@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: url("background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper31 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  box-shadow: 0 0 75px #000;
  border-radius: 10px;
}

.wrapper32 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 600px;
  box-shadow: 0 0 75px #000;
  border-radius: 10px;
}

h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
  /* margin-top: 60px !important; */
}

.input-group31 {
  position: relative;
  width: 320px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  align-items: center;
}

::placeholder {
  color: #fff;
}

.input-group31 input {
  width: 100%;
  height: 40px;
  font-size: 1em;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid #fff;
  outline: #000;
  border-radius: 5px;
  padding-left: 35px;
}

.input-group31 .icon {
  position: absolute;
  left: 10px;
  color: #fff;
  font-size: 1.2em;
  line-height: 45px;
}

.forgot-pass31 {
  margin: -15px 0 15px;
}

.forgot-pass31 a {
  color: #fff;
  font-size: 0.9em;
  text-decoration: none;
}

.forgot-pass31 a:hover {
  text-decoration: underline;
}

.btn31 {
  position: relative;
  width: 100%;
  height: 40px;
  background: #060808;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.5s;
}

.btn31:hover {
  background: #fff;
  color: #090e0d;
}

.sign-link31 {
  font-size: 0.9em;
  text-align: center;
  margin: 25px 0;
}

.sign-link31 p {
  color: #fff;
}

.sign-link31 p a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.sign-link31 p a:hover {
  text-decoration: underline;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  position: relative;

  margin-bottom: 60px;
  /* box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1); */
  box-shadow: 0 0 40px #fff6f6;
}
.l-bg-cherry {
  background: linear-gradient(to right, #241f1f80, #241f1f80) !important;
  color: #fff;
}

.l-bg-blue-dark {
  background: linear-gradient(to right, #241f1f80, #241f1f80) !important;
  color: #fff;
}

.l-bg-green-dark {
  background: linear-gradient(to right, #241f1f80, #241f1f80) !important;
  color: #fff;
}

.l-bg-orange-dark {
  background: linear-gradient(to right, #241f1f80, #241f1f80) !important;
  color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas,
.card .card-statistic-3 .card-icon-large .far,
.card .card-statistic-3 .card-icon-large .fab,
.card .card-statistic-3 .card-icon-large .fal {
  font-size: 110px;
}

.card .card-statistic-3 .card-icon {
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
  color: #000;
  position: absolute;
  right: -5px;
  top: 20px;
  opacity: 0.1;
}

.l-bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}

.l-bg-green {
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
  color: #fff;
}

.l-bg-orange {
  background: linear-gradient(to right, #f9900e, #ffba56) !important;
  color: #fff;
}

.l-bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}
