{% for field in form %}

<div class="form-floating mb-4">
    {% if field.id_for_label == 'id_otp_device' %}
    <label class="form-label" for="{{ field.id_for_label }}">
        {{ field.label }}
    </label>

    <select class="form-control bg-transparent text-white" id="{{ field.id_for_label }}"
    name="{{ field.name }}" type="{{ field.field.widget.input_type }}">
    
    {% for x in field.choices %}
    <option value="{{ x.name }}" {% if field.value == x.name %} selected {% endif %}>{{ x.name }}</option>
    {% endfor %}

    </select>
    {% else %}

    <input class="form-control bg-transparent text-white" id="{{ field.id_for_label }}"
    name="{{ field.name }}" type="{{ field.field.widget.input_type }}"
    {% if field.value %}value="{{ field.value }}"{% endif %}
    {% if field.field.required %}required=""{% endif %}
    placeholder="x">

    <label class="form-label" for="{{ field.id_for_label }}">
        <i class="bi bi-lock-fill"></i>
        {{ field.label }}
    </label>
    {% endif %}


    {{ field.errors }}
</div>

{% endfor %}