<div class="container-lg">
  <div class="row">
    <section>
      <div class="container py-5">
        <div class="row">
          <!-- BEGIN::PROFILE VIEW LEFT SIDE -->
<div class="col-lg-4">
  <div class="card mb-4 l-bg-cherry">
    <div class="card-body text-center">
      <img
        src="{% url 'user:get-user-image' user_id=target_user.pk %}"
        alt="avatar"
        class="rounded-circle img-fluid"
        style="width: 150px"
      />
		<h5 id="targetUsername">{{ target_user.username }}</h5>
        <div class="d-flex justify-content-center mb-2">
          <!-- Add Friend Button, only visible if not viewing own profile -->
          {% if user.pk != target_user.pk %}
          <button type="button" class="btn btn-outline-primary me-2" onclick="sendFriendRequest()">Add Friend</button>
                  <!-- Block User Button, only visible if not viewing own profile -->
          <button type="button" class="btn btn-outline-danger" onclick="blockUser()">Block User</button>
          {% endif %}

                  <!-- Edit Profile Button, only visible if viewing own profile -->
        {% if user.pk == target_user.pk %}
        <button
          type="button"
          class="btn btn-outline-danger ms-1"
          data-bs-toggle="modal"
          data-bs-target="#editProfile"
        >
          <!-- SVG icon -->
		<svg
        xmlns="http://www.w3.org/2000/svg"
		width="16"
		height="16"
		fill="currentColor"
		class="bi bi-pencil-square"
		viewBox="0 0 16 16"
		>
		<path
		d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
		></path>
		<path
		fill-rule="evenodd"
		d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
		></path>
        </svg>
          Edit Profile
        </button>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Add Friend Modal -->
<div class="modal fade" id="addFriendModal" tabindex="-1" aria-labelledby="addFriendModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFriendModalLabel">Add Friend</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form for adding friend -->
        <form id="friendRequestForm">
			<input type="text" id="friendUsername" placeholder="Enter username to add" required>
			<button type="submit">Send Friend Request</button>
		</form>
		<div id="responseMessage"></div>
      </div>
    </div>
  </div>
</div>

          <!-- END::PROFILE VIEW LEFT SIDE -->
          <!-- BEGIN::PROFILE VIEW RIGHT SIDE -->
          <div class="col-lg-8">
            <div class="card mb-4 l-bg-cherry">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="text-danger mb-0">Username</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="mb-0">{{ target_user.username }}</p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="text-danger mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="mb-0">{{ target_user.email }}</p>
                  </div>
                </div>
                <hr />
              </div>
            </div>
          </div>
          <!-- END::PROFILE VIEW RIGHT SIDE -->
          <!-- BEGIN::PROFILE VIEW ACCORDION -->

          {% if ranking|length == 0 %}
          <div role="alert" class="alert alert-warning">
            No matches has been recorded for player {{ target_user.username }}
          </div>
          {% endif %}

          <div class="accordion" id="profileAccordion">
            {% for game in ranking %}

            <div class="accordion-item l-bg-cherry">
              <h2 class="accordion-header l-bg-cherry">
                <button
                  class="accordion-button d-block text-center d-block text-center l-bg-cherry text-danger collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse_{{ game.id }}"
                  aria-expanded="false"
                  aria-controls="collapse_{{ game.id }}"
                >
                <div class="container text-center">
                  <div class="row" style="color:white;">
                    <div class="col justify-content-between" style="text-align: left;">
                      {% if game.type == "TOURNAMENT" %}
                          {% if game.target_player.has_won %}
                              The tournament has won!
                          {% else %}
                              The tournament has lost!
                          {% endif %}
                      {% else %}
                          {% if game.target_player.has_won %}
                              The match has won!
                          {% else %}
                              The match has lost!
                          {% endif %}
                      {% endif %}
                    </div>
                    <div class="col justify-content-between">
                      {% if game.type == "TOURNAMENT" %}
                      {% if game.target_player.has_won %}
                        <span class="badge bg-warning">PLACED AT 1</span>
                      {% elif game.target_player.place == 2 %}
                      <span class="badge bg-secondary">PLACED AT 2</span>
                      {% else %}
                        <span class="badge bg-danger">PLACED AT {{ game.target_player.place }}</span>
                      {% endif %}
                  {% else %}
                      {% if game.target_player.has_won %}
                        <span class="badge bg-success">V I C T O R Y</span>
                      {% else %}
                        <span class="badge bg-danger">D E F E A T</span>
                      {% endif %}
                  {% endif %}
                    </div>
                    <div class="col justify-content-between" style="color:cadetblue; text-align: right;">
                      <span>{{ game.date }}</span>
                    </div>
                  </div>
                </div>
                </button>
              </h2>
              <div
                id="collapse_{{ game.id }}"
                class="accordion-collapse collapse"
                data-bs-parent="#profileAccordion"
                style="backdrop-filter: blur(10px);"
              >
                <div class="accordion-body">
                  <ul>
                    {% if game.type == "TOURNAMENT" %}
                      <span>Game Mode : Tournament</span>
                    {% else %}
                      <span>Game Mode : 1v1</span>
                    {% endif %}
                    <br>
                    {% for player in game.players %}
                      {% if player.id != "null" %}
                      <a href="{% url 'user:target-profile' target_id=player.id %}" 
                      style="font-weight: 400; color: #4caf50; transition: font-weight 0.3s, 
                      color 0.3s; text-decoration: none;" onmouseover="this.style.fontWeight='600'; 
                      this.style.color='#2e7d32';" onmouseout="this.style.fontWeight='400'; 
                      this.style.color='#4caf50';">{{ player.username }}</a>


                      {% else %}
                      <a href="/home/" style="font-weight: 400; color: #4caf50; transition: font-weight 0.3s, 
                      color 0.3s; text-decoration: none;" onmouseover="this.style.fontWeight='600'; 
                      this.style.color='#2e7d32';" onmouseout="this.style.fontWeight='400'; 
                      this.style.color='#4caf50';">{{ player.username }}</a>
                      {% endif %}
                      's status : 
                      <br>
                      Total Score [{{ player.total_score }}] and Wins [{{ player.wins }}]
                      <br>
                    {% endfor %}
                    
                  </ul>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <!-- END::PROFILE VIEW ACCORDION -->
        </div>
      </div>
    </section>
  </div>
</div>

<!-- BEGIN::EDIT PROFILE MODAL -->
<!-- BEGIN::EDIT PROFILE MODAL -->
<div
  class="modal fade"
  id="editProfile"
  tabindex="-1"
  aria-labelledby="editProfileLabel"
  aria-hidden="true"
  data-bs-theme="dark"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editProfileLabel" style="color:#fff;">Edit Profile</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          style="background-color: rgba(255, 255, 255, 0.171)"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Profile Photo Update Form -->
        <form id="profilePhotoForm" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="profilePhoto" class="form-label" style="color:#fff;">Profile Photo</label>
            <input
              type="file"
              class="form-control"
              id="profilePhoto"
              name="profilePhoto"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary mb-3">Save Photo</button>
        </form>

        <!-- Password Update Form -->
        <form id="passwordForm" class="mt-2">
          <div class="mb-3">
            <input type="password" class="form-control" id="oldPassword" placeholder="Current Password" />
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="newPassword" placeholder="New Password"/>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" />
          </div>
          <button
            type="submit"
            class="btn btn-primary mb-3"
            id="changePassword"
          >
            Change Password
          </button>
        </form>
		<!-- Two-Factor Authentication Update Form -->
		<form id="twoFactorForm" class="mt-2">
			<div class="mb-3">
				<label for="twoFactorType" class="form-label" style='color:#fff;'>Two-Factor Authentication</label>
				<select id="twoFactorType" class="form-select">
					<option value="0">Disable 2FA</option>
					<option value="2">Enable Email Verification</option>
					<option value="3">Enable TOTP</option>
				</select>
			</div>
			<button type="button" class="btn btn-primary mb-3" onclick="bindTwoFactor()">Update 2FA Setting</button>
		</form>
        <!-- Delete Profile Button -->
        <div>
          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#deleteProfileModal"
          >
            Delete Profile
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- END::EDIT PROFILE MODAL -->

<!-- Delete Profile Confirmation Modal -->
<div
  class="modal fade"
  id="deleteProfileModal"
  tabindex="-1"
  aria-labelledby="deleteProfileModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteProfileModalLabel">
          Confirm Profile Deletion
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your profile? This action cannot be
        undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          id="deleteProfile"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<!-- END::EDIT PROFILE MODAL -->

{% include 'eoc.html' %}
