html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.custom-logout-button1 {
  background-color: transparent; /* Arka planı transparan yap */
  color: #ffffff; /* Bootstrap 'btn-danger' rengi */
  border: 1px solid #ffffff; /* Aynı renkte bir çerçeve ekle */
  transition: all 0.3s; /* Pürüzsüz geçiş efekti */
}

.custom-logout-button:hover {
  background-color: #dc3545; /* Hover durumunda arka plan rengini değiştir */
  color: white; /* Hover durumunda metin rengini değiştir */
}

.navbar1 {
  flex-shrink: 0;
}
.navbar-brand,
.navbar-nav .nav-link {
  color: white !important;
}
.navbar-custom {
  position: relative; /* Absolute yerine relative kullanabilirsiniz */
  box-shadow: 0 0 100px #fff6f6;
  border-radius: 10px;
  background-color: #e6e6e600; /* Arka plan rengi */
  color: white; /* Metin rengi */
}
/* Navbar içindeki linkler için ek stil */
.navbar-custom .navbar-nav .nav-link {
  color: white; /* Link rengi */
}
/* Responsive tasarım için */
@media (max-width: 768px) {
  .navbar-custom {
    border-radius: 0; /* Küçük ekranlarda yuvarlak köşeleri kaldır */
  }
}
